@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

/* ScrollBar decoration */
/* FOR IE */
html {scrollbar-3dLight-Color: #efefef; scrollbar-arrow-color: #dfdfdf; scrollbar-base-color: #efefef; scrollbar-Face-Color: #dfdfdf; scrollbar-Track-Color: #efefef; scrollbar-DarkShadow-Color: #efefef; scrollbar-Highlight-Color: #efefef; scrollbar-Shadow-Color: #efefef; scrollbar-width:8px; scrollbar-height:8px;}

/* FOR Chrome and Safari */
::-webkit-scrollbar {width: 8px; height: 8px;  }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: url('./images/bg.png') #efefef}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}


body {
    font-family: 'Roboto', Arial, serif;
    font-size:12pt;
}

a, a code {
  color:#7C1E3F;
}

a:active,
a:active code {
  color:#f00;
} 

a:visited,
a:visited code {
  color:#7C1E3F;
}

#header {
  border-bottom: 1px solid #AFAFAF;
  height: 60px;
}

#search-button {
  font-size:11pt;
}

input.gsc-input {
  border: 1px solid #999;
  font-size:1.0em;
}

#side-nav {
  font-size:15px;
}

#side-nav li {
  line-height:1.3em;
}

#side-nav li h2 {
  font-size:15px;
}

#side-nav .selected {
  background-color: #EFE9E5;
  color: #3D3E3F;
}

#side-nav .selected a {
  color: #7C1E3F;
}

#nav-swap {
  font-size:13px;
  line-height:10px;
  margin-left:1em;
  text-decoration:none;
  display:block;
  position:absolute;
  bottom:2px;
  left:0px;
}

#api-info-block {
  font-size:1.0em;
}

th {
  background-color:#EFE9E5;
}

td,th {
  border:1px solid #AFAFAF;
}

.jd-sumtable-expando {
  width: 95%;
  padding-right:5%;
}

/*.ui-resizable .ui-resizable-handle { display: none; }
body .ui-resizable-disabled .ui-resizable-handle { display: none; }
body .ui-resizable-autohide .ui-resizable-handle { display: none; }*/
.ui-resizable-s { cursor: s-resize; height: 3px; width: 100%; bottom: 0px; left: 0px;
  background: transparent url("images/resizable-s2.gif") repeat scroll center top; }
.ui-resizable-e { cursor: e-resize; width: 3px; right: 0px; top: 0px; height: 100%;
  background: transparent url("images/resizable-e2.gif") repeat scroll right center; }

